/******************************************************* // Hello Wiki // *****************************************************/

/* HTML / Body styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

html
	{
	background: #e3e3e3;
	}

body
	{
	background: #eee;
	font-size: 75%;
	font-family: Tahoma, Verdana, sans-serif;
	color: #333;
	}
	
#wrap
	{
	background:url(images/bg.png) top center repeat-x	
	}

/* hide the skip to content link */

#tools
	{
	position:absolute;
	left:-9999px;
	}
	
#header
	{
	position: relative;
	background: url(images/nav-bg.png) center bottom no-repeat;
	height: 148px;
	}
	
#content
	{
	background: url(images/entry-bg.png) no-repeat;
	clear: both;
	width: 488px;
	float: left;
	padding: 15px 15px 0px 0px;
	margin-bottom: 25px;
	}
	
#footer
	{
	clear: both;
	background: #E3E3E3 url(images/bottom.png) repeat-x;
	width: 100%;
	height: 60px;
	}
	
#credits
	{
	width: 800px;
	margin: 0 auto;
	}
	
#credits_list li
	{
	list-style: none;
	position: relative;
	top: 25px;
	left: -20px;
	display: inline;
	margin-right: 20px;
	font-size: 0.9em;
	}

/* Block styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#content_blocks
	{
	float: left;
	width: 270px;
	padding-left: 15px;
	margin-bottom: 30px;
	}
	
.block
	{
	background: url(images/sidebar.png) no-repeat;
	margin-bottom: 20px;
	padding-top: 15px;
	}

.block h4
	{
	font-size: 1.4em;
	color: #525b5c;
	margin-bottom: 15px;
	}
	
.block p
	{
	width: 250px;
	}
	
/* flickr block */

#block_flickr	
	{
	background: url(images/sidebar.png) no-repeat;
	overflow: hidden;
	}

.flickr_badge_image img
	{
	width: 74px;
	height: 74px;
	display: inline;
	float: left;
	margin: 0px 5px 5px 0px;
	border: 3px solid #ccc;
	}
	
.flickr_badge_image img:hover
	{
	border: 3px solid #6699cb;	
	}
	
#block_flickr .block_body
	{
	background: none;
	}

/* General styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#site_title a:visited
	{
	color: #6699cb;
	}

#site_title
	{
	font-size: 2.2em;
	font-family: arial, sans-serif;
	color: #314FA9 !important;
	position: absolute;
	left: 3px;
	top: 45px;
	margin-bottom: 0;
	}
	
#site_title a:hover
	{
	color: #fff;
	}

/* Strapline */

#site_strapline
	{
	color: #ccc;
	font-size: 1.2em;
	position: absolute;
	left: 3px;
	top: 68px;
	}
	
/* Placeholder */

#placeholder
	{
	margin: 0 auto;
	width: 800px;
	}

/* Extra Divs */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

/* Use these divs for extra display elements */

#extradiv_1, #extradiv_2, #extradiv_3, #extradiv_4,
#extradiv_a, #extradiv_b, #extradiv_c, #extradiv_d
	{
	display: none;
	}

/********************************************************** // End // ********************************************************/