/******************************************************* // Hello Wiki Navigation // *****************************************************/

/* Navigation */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#navigation
	{
	width: 100%;
	display: block;
	position: relative;
	left: -18px;
	float: left;
	top: -30px;
	}

#navigation ul li
	{
	display: inline;
	}

#navigation li a
	{
	background: url(images/header-menu.png) 100% 100% no-repeat;
	float: left;
	display: block;
	height: 23px;
	padding: 7px 25px 0 25px;
	text-align: center;
	color: #ccc;
	text-decoration: none;
	width: 10%;
	}
	
#navigation li a:hover
	{
	background: url(images/header-menu.png) 100% 0% no-repeat;
	height: 23px;
	padding: 7px 25px 0 25px;
	}

.nav_current_1
	{
	color: #6699cb !important;
	}
	
#navigation h3
	{
	display: none;
	}

/********************************************************** // End // ********************************************************/