/*******************************************************************/
/* Pixie: The Small, Simple, Site Maker.                           */
/*-----------------------------------------------------------------*/
/* Licence: GNU General Public License v3                   	   */
/* Title: Installer cascading style sheet.			   */
/*******************************************************************/

body,html{height:auto;background-color:#191919;}
#bg-wrap{background:#191919 url(background.jpg) 7px 0 no-repeat;width:790px;min-height:670px;padding-top:100px;display:none;margin:0 auto;}
#placeholder{border:5px solid #e1e1e1;clear:left;background-color:#fff;width:400px;line-height:15pt;min-height:480px;margin:0 auto;padding:15px 30px 20px;}
p{font-size:.8em;padding:15px 0;}
legend{color:#109bd4;}
.form_text{width:320px;}
.form_item_drop select{width:335px;padding:2px;}
label{float:left;}
.form_help{float:left;font-size:.7em;padding-left:5px;padding-right:5px;position:relative;top:2px;width:60%;text-align:left;}
.form_item_drop{clear:both;}
.help{color:#898989;margin:0;padding:0;}
.error,.notice,.success{border:2px solid #ddd;width:436px;margin:0 auto;padding:15px;}
.error{background:#FBE3E4;color:#D12F19;border-color:#FBC2C4;}
.notice{background:#FFF6BF;color:#817134;border-color:#FFD324;}
.success{background:#E6EFC2;color:#529214;border-color:#C6D880;}
.showvars{background-color:#000;color:#0B9BD4;}
.divcentertext{font-size:.9em;text-align:center;}
.divcentertext2{font-size:.8em;text-align:center;}
#pixieicon{border:5px solid #e1e1e1;}
input,select{margin-top:.4em;}
.form_submit,.form_submit_b{background-color:transparent;background-image:url(button.png);background-position:center bottom;background-repeat:no-repeat;border:0;color:#fff;height:30px;width:70px;}
.form_submit:hover,.form_submit_b:hover{background-position:center top;color:#fff;}
.extra{border:1px solid #E4E4E4;margin-top:42px;padding-left:24px;padding-right:24px;padding-bottom:48px;display:none;}
.small-heading{font-size:14px;color:#109BD4;}
.divider{border-top:1px solid #E4E4E4;padding-bottom:18px;width:252px;margin-left:12px;}
#switch{text-align:right;}
.switch-span{margin-top:12px;}
.extra .form_help{width:100%;clear:both;padding-bottom:12px;}
.extra select{width:295px;padding:2px;}
.extra input{width:285px;}
.center,.advanced-heading{text-align:center;}
.form_submit_b{font-size:4px;display:none;}
#restart{height:20px;width:100%;padding-bottom:20px;}
#logo-holder{width:470px;height:50px;display:block;background-color:transparent;background-image:url(banner.gif);background-position:center top;background-repeat:no-repeat;border:0;z-index:100;margin:0 auto;}
#logo{width:470px;height:50px;}
#create-db{margin-left:2px;margin-right:1em;position:relative;left:0;width:16px;height:16px;border:1px solid #CCCCCC;}
