/* IE6 only */
	
#pixie_title
	{
	position: relative;
	top: -26px;
	}
	
.errormess
	{
	background: url(images/bg_message_error.gif) repeat-x;	
	}

.okmess
	{
	background: url(images/bg_message_ok.gif) repeat-x;	
	}
	
#nav_1 
	{
	margin: 0;
	padding: 0;
	left: 0;
	top: -58px;
	position: relative;
	}
	
#nav_1 ul
	{
	margin: 0;
	padding: 0;
	}
	
#nav_1 ul ul
	{
	margin: 0;
	padding: 0;
	left: 0;
	}

table
	{
	width: 100%;
	float: left;
	}

#credits
	{
	padding-top: 60px;
	}

legend
	{
	margin-bottom: 20px;
	}

fieldset
	{
	margin: 0;
	padding-top: 0;
	padding-bottom: 10px;
	}

#form_login, #form_forgotten
	{
	margin-top: 40px;
	}
	
#pixie_body
	{
	margin: 10px 0 0 0;
	padding: 0;
	}

#tool_skip a
	{
	font-size: 7pt;
	}

#admin_block_search, #admin_block_filemanager, #admin_block_addpage, #admin_block_user
	{
	padding-bottom: 0px;
	}

.admin_block fieldset
	{
	background-image: none;
	}
	
.publish .page
	{
	background: none;
	position: relative;
	}

.publish .innav
	{
	background-image: url("images/page_innav.gif");
	background-repeat: no-repeat;	
	}

.publish .outnav
	{
	background-image: url("images/page_outnav.gif");
	background-repeat: no-repeat;	
	}
	
.publish .plugin
	{
	background-image: url("images/page_grey.gif");
	background-repeat: no-repeat;	
	}

#log_tools li, #page_tools li
	{
	padding: 0px;
	margin-right: -3px;
	height: 25px;
	position: relative;
	background-position: 0 3px;
	}

#page_tools li
	{
	margin-right: 1px;
	background-position: 0 0;
	padding: 0;
	background-color: #bdd49a;
	}

.page_delete, .page_empty
	{
	padding: 0px;
	margin-right: -3px;
	}
	
.page_delete
	{
	background-color: #e4c8c4;
	}

.page_empty
	{
	background-color: #c8c8c8;
	background-image: url("images/bg_button_grey.gif");
	background-repeat: repeat-x;
	}	

.admin_table_holder
	{
	width: 100%;
	float: left;
	top: -1px;
	position: relative;
	}

#mycarousel a
	{
	cursor: pointer;
	}

.form_item_textarea_nomce
	{
	margin: 0;
	padding: 0;
	margin-right: -10px;
	}

#backup
	{
	height: 300px;
	}
	
#log_tools
	{
	margin-right: 1px;
	}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
