/******************************************************* // Bus FUll of Hippies IE7 Styles // *****************************************************/

/* IE7 specific styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/	

#navigation
	{
	width: 260px;
	margin-right: 0px;
	}

.block
	{
	margin-bottom: -90px !important;
	}
	
.block ul
	{
	margin-left: 1.5em;
	}
	
/* dynamic */

.post_links
	{
	margin-left: -10px;
	}
	
.post_date
	{
	margin-left: 25px !important;
	}
	
/* footer */

#footer
	{
	margin-top: 20px;
	}
	
#cred_theme, #cred_pixie
	{
	padding-left: 5px;
	}
	
/* comment form */
	
.form_row
	{
	margin-bottom: 6px;
	padding: 0;
	}
	
legend
	{
	text-indent: -3px;
	}
	
select   
	{
	margin-top: 0;
	}
	
/********************************************************** // End // ********************************************************/