/******************************************************* // Bus Full of Hippies Navigation // *****************************************************/

/* Navigation */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#navigation
	{
	width: 300px;
	position: absolute;
	top: 30px;
	left: 475px;
	z-index: 1;
	display: block;
	}

#navigation	ul
	{
	list-style: none;
	font: bold 96% "Lucida Grande", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	margin-left: 10px;
	}

#navigation ul li
	{
	display: inline;
	}

#navigation ul li a
	{
	float:left;
	text-decoration: none;
	color: #8A9F47;
	margin-right: 10px;
	padding: 3px 10px 3px 0px;
	border-right: 1px solid #edefe5;
	margin-bottom: 6px !important;
	}
	
#navigation li a:hover
	{
	color: #C84A26;
	background: none;
	}

.nav_current_1
	{
	color: #C84A26 !important;
	}
	
#navigation h3
	{
	display: none;
	}

/********************************************************** // End // ********************************************************/