/******************************************************* // Hello Wiki Navigation // *****************************************************/

/* Navigation */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/
 	

/* Safari hack */

body:first-of-type #navigation
	{
	top: -48px;
	left: -21px;
	}
	
/* Safari hack end */

#navigation
	{
	width: 800px;
	display: block;
	position: relative;
	top: -30px;
	left: -20px;
	}

#navigation ul li
	{
	display: inline;
	margin-right: 10px;
	}

#navigation li a
	{
	background: url(images/header-menu.png) 100% 100% no-repeat;
	float: left;
	display: block;
	height: 23px;
	padding: 7px 25px 0 25px;
	text-align: center;
	color: #ccc;
	text-decoration: none;
	}
	
#navigation li a:hover
	{
	background: url(images/header-menu.png) 100% 0% no-repeat;
	height: 23px;
	padding: 7px 25px 0 25px;
	}

.nav_current_1
	{
	color: #6699cb !important;
	}
	
#navigation h3
	{
	display: none;
	}

/********************************************************** // End // ********************************************************/