/******************************************************* // Hello Wiki Print style // *****************************************************/

/* Hide elements that do not need printing */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#tools
	{
	display: none;
	}

#navigation
	{
	display: none;
	}

#content_blocks
	{
	display: none;
	}

#footer
	{
	display: none;
	}

.form, form
	{
	display: none;
	}

#admin_header
	{
	display: none;
	}
	
.post_edit
	{
	display: none;
	}
	
#extradiv_1, #extradiv_2, #extradiv_3, #extradiv_4,
#extradiv_a, #extradiv_b, #extradiv_c, #extradiv_d
	{
	display: none;
	}

/* Set the typography and styles for print */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

body
	{
	font-size: 75%;
	font-family: Tahoma, Verdana, sans-serif;
	color: #333;
	}

h1, h2, h3, h4, h5, h6
	{
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: normal;
	}

h1
	{
	font-size: 3em; 
	line-height: 1; 
	margin-bottom: 0.5em;
	}
	
h2 
	{
 	font-size: 1.9em; 
	}

h3
	{
	font-size: 1.6em; 
	line-height: 1; 
	margin-bottom: 0.8em;
	}

h4
	{
	font-size: 1.4em; 
	line-height: 1.25; 
	margin-bottom: 0.8em;
	}

h5
	{
	font-size: 1.2em; 
	margin-bottom: 0.8em; 
	}

h6
	{
	font-size: 0.9em; 
	font-weight: bold;
	}

p
	{
	line-height: 18pt;
	}

/* General */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#site_title, #site_title a
	{
	color: #6699cb;
	}

#site_strapline
	{
	font-size: 1.3em;
	font-weight: normal;
	color: #ccc;
	}

/* journal */

#comments_title
	{
	border-bottom: 0;
	}

.section
	{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #6699cb;;
	}
	
.gr
	{
	display: none;
	}
	
.comment_admin
	{
	color: #000;
	}
	
.comment
	{
	border-bottom: 1px solid #CCC;	
	margin-bottom: 20px;
	}
	
.post_credits span
	{
	display: block;
	}
	
.post_links li
	{
	list-style-type: none;
	text-indent: -40px;
	}
	
.message_time abbr
	{
	font-size: 1em;
	display: block;
	border-bottom: none;
	}
	
.published
	{
	border-bottom: 0;
	}

/* Links */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

a:link, a:visited 
	{
	color: #314FA9;	
	background: transparent;
	font-weight:700;
	text-decoration: underline;
	}

/* Expand every link */

#content a:link:after, #content a:visited:after 
	{
   	content: " (" attr(href) ") ";
   	font-size: 90%;
   	}
   
/* Tables */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

table
	{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CCC;
	}

th, tr, td
	{
	border: 1px solid #CCC;
	}


/* Custom / RTE classes */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

.dotrule
	{
	border-bottom: 1px dashed; color: #6699cb;
	}

.hrule
	{
	color: #6699cb;
	}
	
.right
	{
	float:right;
	}

.left
	{
	float:left;
	}

.clear
	{
	clear: both;
	}

.small  
	{ 
	font-size: .8em; 
	margin-bottom: 1.875em; 
	line-height: 1.875em;
	}
	
.large  
	{ 
	font-size: 1.2em; 
	line-height: 2.5em; 
	margin-bottom: 1.25em; 
	}
		
.quiet  
	{ 
	color: #666; 
	}
		
.hide   
	{ 
	display:none; 
	}

.highlight
	{
	background: #9dcae1;
	padding: 1px 2px;
	}
	
caption 
	{ 
	background: #CCC; 
	}
	
blockquote
	{
	color: #666; 
	font-style: italic; 
	}

/********************************************************** // End // ********************************************************/