/******************************************************* // Bus Full of Hippies IE6 Styles // *****************************************************/

/* IE6 specific styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/	

/* navigation */
	
#navigation ul	
	{
	margin-left: 10px;
	}

/* general */

body
	{
	background: url (images/ie_back.jpg);
	}
	
#content, #content_blocks
	{
	background-image: none !important;
	}
	
legend, #comments_title
	{
	font-weight: bold;
	margin: 0px 0px 15px -7px !important;
	}
	
/* dynamic */

#comments_title
	{
	margin-left: 0px !important;
	}

.post_date
	{
	text-indent: -2px !important;
	}
	
.post_edit
	{
	display: block !important;
	text-indent: -4px;
	}
	
/* comment form */

.message_time
	{
	text-indent: 15px;	
	}
	
.form_submit
	{
	position: relative;
	right: -1px;
	margin-bottom: 35px;
	}
	
.form_row
	{
	margin-bottom: 6px;
	padding: 0;
	}

/* footer */

#cred_theme
	{
	padding-left: 5px;
	}
	
#cred_pixie
	{
	padding-left: 5px;
	}
	
#credits_list li
	{
	border-right: 1px solid #666;
	}
	
#credits_list
	{
	color: #666;
	position: relative;
	left: 23px;
	}

#credits_list a
	{ 
	color: #60761b;
	}
	
/********************************************************** // End // ********************************************************/