/******************************************************* // itheme IE7 Styles // *****************************************************/

/* IE7 specific styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/	

#site_strapline
	{
	font-weight: bold;
	}

.post_links
	{
	text-indent: -30px;
	}
	
.published
	{
	margin-left: 30px;	
	}
	
legend
	{
	text-indent: -4px;
	font-weight: bold;
	}
	
.block h4
	{
	font-size: 1.2em;
	}
	
ul
	{
	list-style-position: circle;
	list-style-image: none;
	}

/********************************************************** // End // ********************************************************/