/* pixie css */

*, body
	{
	margin: 0;
	padding: 0;
	}
	
img
	{
	border: 0;
	}
	
#pixie
	{
	background-image: url("images/bg_pixie.gif");
	background-repeat: repeat-x;
	}
	
#pixie_placeholder
	{
	max-width: 1300px;
	min-width: 948px;
	margin: 0 auto;
	padding: 0px 30px 0px 30px;
	}
	
#message
	{
	background-color: #191919;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
	}

#message.errormess
	{
	background: url(images/bg_message_error.gif) repeat-x;
	height: 17px;	
	}

#message.okmess
	{
	height: 17px;
	background: url(images/bg_message_ok.gif) repeat-x;	
	}

#message img
	{
	vertical-align: -1px;
	padding-right: 5px;
	}

#message a
	{
	color: #d70000;
	}

#message a:hover
	{
	color: #fff;
	}
	
/* image replacment */

#pixie_title
	{
	position: absolute;
	top: -1px;
	width: 70px;
	height: 50px;
	background-image: url("images/pixielogo.gif");
	background-repeat: no-repeat;
	background-position: 0 12px;
	z-index: 2;
	}

#pixie_title span
	{
	display: block;
	text-indent: -5000px;
	}

#pixie_title span a
	{
	display: block;
	width: 70px;
	height: 50px;
	}
	
/* end image replacement */

#pixie_strapline
	{
	display: none;
	}

#pixie_body
	{
	margin: 95px 0px 0px 0px;
	}

#pixie_body h2
	{
	padding-bottom: 5px;
	}

#blocks
	{
	float: right;
	width: 290px;
	margin-left: 20px;
	}

.admin_block
	{
	padding: 6px 15px 15px 15px;
	margin-bottom: 20px;
	background: #f5f5f5 url(images/bg_admin_block.gif) repeat-x;
	}

.admin_block ul
	{
	padding-top: 5px;
	}

.admin_block li
	{
	list-style: none;
	}
	
#admin_block_help li
	{
	padding: 5px 0px 5px 0px;
	}

#admin_block_search label
	{
	display: none;
	}
	
.linkspixie
	{
	padding-top: 10px;
	}

#pixie_content
	{
	margin-right: 310px;
	margin-bottom: 0px;
	}

#blocks
	{
	margin-top: 28px;
	}

#pixie_placeholder
	{
	position: relative;
	}

html
	{
	background-color: #191919;
	}

body
	{
	background: #fff;
	}

#pixie_footer
	{
	clear: both;
	background-image: url("images/bg_footer.gif");
	background-repeat: repeat-x;
	height: 80px;
	padding: 0px 30px 0px 30px;
	}

#credits
	{
	max-width: 1300px;
	min-width: 948px;
	margin: 0 auto;
	padding-top: 60px;
	}

#credits_list
	{
	list-style: none;
	}

#credits_list li
	{
	display: inline;
	}

#cred_licence, #cred_pixie
	{
	float: left;
	display: inline;
	padding-right: 5px;
	}
	
#cred_site
	{
	display: inline;
	float: right;
	}

.helper
	{
	position: relative;
	top: 9px;
	border: 5px solid #e1e1e1;
	clear: left;
	padding: 15px;
	margin: 0 auto;
	background-color: #F0F0F0;
	margin-bottom: 60px;
	}

.helper h3
	{
	padding-bottom: 10px;
	}

/* pixie Forms */

.safclear
	{
	clear: both;
	}
	
.form
	{
	background-image: url("images/bg_form.gif");
	background-repeat: repeat-x;
	background-position: bottom;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	clear: both;
	}

.admin_form
	{
	margin-bottom: 15px;
	}
	
fieldset 
	{
	border-style: solid;
	border-width: 1px;
	border-color: #E4E4E4;
	padding: 1em 2em 2em 2em;
	}

legend
	{
	padding: 5px;
	font-size: 11pt;
	color: #0497d3;
	}

.form_item_textarea_no_ckeditor
	{
	background-image: url("images/formbacklarge.gif");
	background-repeat: repeat-x;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 13px;
	width: 100%;
	height: 200px;
	}

#site_settings .form_item_textarea_no_ckeditor, #pixie_settings .form_item_textarea_no_ckeditor
	{
	height: 120px;
	}
	
.form_select, .form textarea, .form_text
	{
	border: 1px solid #CCCCCC;
	}

.form_textarea, .form_text, .form_item_textarea_no_ckeditor
	{
	padding: 3px 5px 3px 5px;
	}
	
.form_text
	{
	background-image: url("images/formback.gif");
	background-repeat: repeat-x;
	}
		
.form_radio
	{
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 5px;
	}	

.form_row
	{
	margin-bottom: 15px;
	}

.form_highlight input
	{
	border-color: #d70000;
	}

.form_row_button
	{
	margin-top: 12px;
	padding-left: 5px;
	float: right;
	clear: left;
	}
	
.form_row_button input
	{
	font-size: 105%;
	padding: 2px 5px 2px 5px;
	}

.form_help, #form_forgotten p
	{
	display: block;
	font-size: 85%;
	}

#form_forgotten p
	{
	padding-bottom: 15px;
	}

.form_tags_suggestions, .form_block_suggestions
	{
	font-size: 85%;
	padding-bottom: 8px;
	}

.form_optional
	{
	font-size: 80%;
	}

.form_button_cancel
	{
	padding: 5px;
	position: relative;
	top: 5px;
	font-size: 11pt;
	}

.admin_block label, .admin_block .form_help
	{
	font-size: 11pt;
	}

.admin_block .form_help
	{
	font-size: 9pt;
	}

.admin_block legend
	{
	display: none;
	}

.admin_block fieldset
	{
	padding: 0;
	border: none;
	}

.admin_block .form_row_button
	{
	float: left;
	width: auto !important;
	margin: 0px;
	padding: 0px;
	}

.admin_block .form_help
	{
	padding-bottom: 10px;
	}

#file_tags, #search-keywords, .admin_block select
	{
	width: 247px;
	}

.admin_block select
	{
	background-color: #ffffff;
	}

.form_item_check input
	{
	width: auto;
	}

#admin_block_filemanager .form_help
	{
	padding-bottom: 3px;
	}

#form_login .form_text, #form_forgotten .form_text
	{
	width: 300px;
	}

/* pixie Tables */

.tbl
	{
	font-size: 9pt;
	clear: left;
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	}

.tbl_heading
	{
	background: #191919 url("images/bg_tbl_heading.gif");
	height: 20px;
	background-repeat: repeat-x; 
	padding: 3px 1px 2px 3px;
	font-weight: bold;
	color: #fff;
	text-align: left;
	border-bottom: 1px solid #a19f9f;
	}

.even
	{
	background: #ededed;
	border-bottom: 1px solid #ededed;
	}

.odd
	{
	background: #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	}

.logimportant
	{
	color: #bf0404;
	}

#page_edit, #page_delete, #thefile_view, #thefile_delete
	{
	width: 50px;
	}

#icon, #theicon
	{
	width: 10px;
	}

.tbl_delete a
	{
	color: #d70000;
	}

.tbl_edit, .tbl_delete
	{
	text-align: center;
	}

#when, #thedatestamp

	{
	width: 25%;
	}
	
.tbl_row
	{
	line-height: 100%;
	padding: 8px 5px 5px 5px;
	}

tr:hover
	{
	background-image: url("images/bg_tr.gif");
	background-repeat: repeat-x;
	background-color: #cfcfcf;
	border-bottom: 1px solid #a19f9f;
	}
	
#admin_table_holder
	{
	width: auto;
	}
	
#admin_table_overview
	{
	float: left;
	font-size: 8pt;
	padding-top: 15px;
	}
	
#admin_table_pages
	{	
	float: right;
	padding-top: 11px;
	font-size: 8pt;
	}

#admin_table_pages a
	{
	padding: 2px 4px 2px 4px;
	border: 1px solid #e7e7e7;
	margin-right: 2px;
	}

#admin_page_current
	{
	background-color: #e1e1e1;
	color: #191919; 
	}


/* pixie Typography */

body
	{
	font-family: Arial, 'Lucida Grande', Verdana, Sans-Serif;
	color: #333;
	}
	
a
	{
	text-decoration: none;
	color: #0497d3;
	outline: none;
	}

a:hover
	{
	text-decoration: none;
	color: #191919;
	outline: none;
	}

#message
	{
	background-color: #191919;
	font-size: 11pt;
	}
	
#tool_skip
	{
	font-size: 8pt;
	}
	
.alert
	{
	font-size: 80%;
	color: #d70000;
	}

#credits
	{
	font-size: 9pt;
	color: #ffffff;
	}

#cred_site
	{
	font-weight: bold;
	}

#credits a
	{
	color: #ffe40e;
	}

#credits a:hover
	{
	color: #ffffff;
	}

h2
	{
	font-size: 15pt;
	}

.admin_block h3
	{
	color: #3f3f3f;
	padding-bottom: 15px;
	font-size: 9pt;
	}

.admin_block
	{
	font-size: 10pt;
	color: #191919;
	line-height: 12pt;
	}

.admin_block a:hover
	{
	color: #191919;
	}

.pstats
	{
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	}

.plogin
	{
	padding-top: 15px;
	}
	
#pixie_body
	{
	font-size: 11pt;
	line-height: 14pt;
	}

#log_tools
	{
	font-size: 9pt;
	}

.page_title
	{
	font-weight: bold;
	}

#admin_block_tags a
	{
	line-height: 15pt;
	}

.showvars
	{
	background-color:#000;
	color:#0B9BD4;
	}
