/******************************************************************
*** Right Menu, 2 Column Liquid Layout (Percentage widths)	***
***								***
*** Author: Matthew James Taylor				***
******************************************************************/

	/* General styles */

	body {

		margin:0;

		padding:0;

		border:0;		/* This removes the border around the viewport in old versions of IE */

		width:100%;

		background:#cde;

		min-width:600px;    	/* Minimum width of layout - remove line if not required */

					/* The min-width property does not work in old versions of Internet Explorer */

		font-size:90%;

	}

	a {

		color:#369;

	}

	a:hover {

		color:#9cf;

		background:#369;

		text-decoration:none;

	}

	h1, h2, h3 {

		margin:.8em 0 .2em 0;

		padding:0;

	}

	p {

		margin:.4em 0 .8em 0;

		padding:0;

	}

	img {

		margin:10px 0 5px;

	}

	/* Header styles */

	#header {

		clear:both;

		float:left;

		width:100%;

	}

	#header {

		border-bottom:1px solid #000;

	}

	#header p,

	#header h1,

	#header h2 {

		padding:.4em 15px 0 15px;

		margin:0;

	}

	#header ul {

		clear:left;

		float:left;

		width:100%;

		list-style:none;

		margin:10px 0 0 0;

		padding:0;

	}

	#header ul li {

		display:inline;

		list-style:none;

		margin:0;

		padding:0;

	}

	#header ul li a {

		display:block;

		float:left;

		margin:0 0 0 1px;

		padding:3px 10px;

		text-align:center;

		background:#eee;

		color:#000;

		text-decoration:none;

		position:relative;

		left:15px;

		line-height:1.3em;

	}

	#header ul li a:hover {

		background:#369;

		color:#9cf;

	}

	#header ul li a.active,

	#header ul li a.active:hover {

		color:#9cf;

		background:#000;

		font-weight:bold;

	}

	#header ul li a span {

		display:block;

	}

	/* 'widths' sub menu */

	#layoutdims {

		clear:both;

		background:#eee;

		border-top:4px solid #000;

		margin:0;

		padding:6px 15px !important;

		text-align:right;

	}

	/* column container */

	.colmask {

		position:relative;	/* This fixes the IE7 overflow hidden bug */

		clear:both;

		float:left;

		width:100%;		/* width of whole page */

		overflow:hidden;	/* This chops off any overhanging divs */

	}

	/* common column settings */

	.colright,

	.colmid,

	.colleft {

		float:left;

		width:100%;

		position:relative;

	}

	.col1,

	.col2,

	.col3 {

		float:left;

		position:relative;

		padding:0 0 1em 0;

		overflow:hidden;

	}

	/* 2 Column (right menu) settings */

	.rightmenu {

		background:#9cf;	/* right column background colour */

	}

	.rightmenu .colleft {

		right:25%;		/* right column width */

		background:#cde;	/* left column background colour */

	}

	.rightmenu .col1 {

		width:71%;		/* left column content width (left column width minus left and right padding) */

		left:27%;		/* (right column width) plus (left column left padding) */

	}

	.rightmenu .col2 {

		width:21%;		/* right column content width (right column width minus left and right padding) */

		left:31%;		/* (right column width) plus (left column left and right padding) plus (right column left padding) */

	}
	.col1 p {
		text-indent:20px
	}

	/* Footer styles */

	#footer {

		clear:both;

		float:left;

		width:100%;

		border-top:1px solid #000;

	}

	#footer p {

		padding:10px;

		margin:0;

	}

/* Default admin header */
        
#admin_header
        {
        color: #ffffff;
        background: url("images/bg_admin_header.gif") repeat-x;
        width: auto;
        padding: 5px 20px 10px 20px;
        height: 35px; 
        text-align: left;
        color: #191919;
        height: 35px;
        overflow: hidden;
        font-family: arial, sans-serif;
        }
        
#admin_header h1
        {
        font-family: arial, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        }

#admin_header_text
        {
        font-size: 0.8em;
        width: 27%;
        position: relative;
        top: -7px;
        padding: 5px 0 0 0;
        }

#admin_header_controls
        {
        float: right;
        position: relative;
        top: -27px;
        }

#admin_header_controls a
        {
        font-size: 1.1em;
        color: #191919;
        margin: 0em 1em 0.5em 0em;
        text-decoration: none;
        font-weight: bold;
        }

#admin_header_controls a:hover
        {
        text-decoration: none;
        color: #139cd5;
	background: none;
        }

#credits
	{
	width: 90%;
	}

#credits_list li
        {
        list-style: none;
        position: relative;
        left: 40px;
        display: inline;
        margin-right: 80px;
        font-size: 0.9em;
        }

